<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- header -->
        <div class="nav">
            <div class="logo">

            </div>

            <div class="nav_content">
                <div class="logo_name">
                    Remindo
                </div>
    
                <div class="day_time">
                    9th September, 2021
                    <div class="time">
                        12:12
                    </div>
                </div>
            </div>           
            
        </div>


        <!-- main body -->
        <div class="body_wrap">
            <div class="list_name">
                Devik's List
            </div>

            <div class="cards">

                <div class="todo">
                    To DO
                </div>

                <div class="compose">
                    Compose
                    <div class="compose_title">
                        
                        <div>Title:</div>
                        <input type="text" name="title" class="inp_box">
                    </div>
                    <div class="compose_desc">

                        <div>Description:</div>
                        <textarea name="desc" id="desc" rows="6" class="inp_box"></textarea>
                        <button type="submit" class="btn_submit">+</button>
                    </div>
                    
                </div>

                <div class="progress">
                    Progress
                </div>
                
            </div>
        </div>

    </div>
</body>
</html>