body {
  background-color: #0c1821;
  font-family: "Mukta", sans-serif;
  overflow: hidden;
}

.wrapper {
  display: block;
}

/* Universal */

.flexme {
  display: flex;
  align-items: center;
}

/* header */

.nav {
  display: flex;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5vw;
  z-index: 10;
}

.nav_content {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 5vw;
  height: 5vw;
  background-color: #b41717;
  background-image: url("img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.8vw;
}

.logo_name {
  color: #0c1821;
  font-size: 1.55vw;
  font-weight: 500;
  margin-left: 2vw;
}

.day_time {
  display: flex;
  font-size: 1.2vw;
  font-weight: 600;
}
.time {
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 3px;
  background-color: #0c1821;
  margin-left: 1.5vw;
  font-weight: 400;
  font-size: 1.1vw;
}

/* main body */

.body_wrap {
  position: absolute;
  top: 8vw;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 7vw;
}

/* List name */

.list_name {
  display: flex;
  color: white;
  margin-bottom: 3.5vw;
  font-size: 2.1vw;
  font-weight: 500;
}

/* To do cards */

.cards {
  display: flex;
  color: white;
  font-size: 1.2vw;
}

.cards_toggle {
  display: flex;
  color: rgb(117, 117, 117);
  font-size: 1.2vw;
}

.todo {
  position: relative;
  width: 25%;
  margin-right: 5vw;
}

.todo_cnt {
  border-radius: 3px;
  padding: 10px;
  margin-top: 1vw;
  overflow-y: scroll;
  height: 30vw;
  background-color: #242f3730;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.todo_card {
  position: relative;
  background-color: white;
  color: #0c1821;
  align-items: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 3px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 0.5vw;
  font-size: 1vw;
  font-weight: 600;
  height: 2vw;
  overflow-y: hidden;
  transition: height 0.5s ease-in-out;
}

.todo_card:hover {
  height: 5vw;
  overflow-y: scroll;
}

.todo_card_desc {
  margin-top: 1vw;
  font-weight: 500;
}

.todo_card_title {
  margin-left: 0.6vw;
  font-size: 1.2vw;
}

.btn_clear {
  /* width: 3vw; */
  font-size: 1vw;
  font-weight: 500;
  position: absolute;
  top: 0.2vw;
  right: 0;
  cursor: pointer;
}

.check_btn {
  height: 1.1vw;
  font-size: 0.6vw;
  border: 3px solid #0c1821;
  background-color: none;
  cursor: pointer;
  border-radius: 10px;
}

.check_btn:focus {
  background-color: #23188850;
}

.img_expand {
  position: absolute;
  right: 1vw;
  cursor: pointer;
  width: 1.4vw;
}

.todo_cnt::-webkit-scrollbar {
  display: none;
}

/* Compose */
.compose {
  width: 32%;
  margin-right: 5%;
}

.compose_title {
  padding: 0.6vw;
  padding-right: 1vw;
  margin-top: 1vw;
  color: #242424;
  font-weight: 600;
  background-color: #bababa;
  font-size: 0.95vw;
  border-radius: 3px;
}

.compose_desc {
  padding: 0.6vw;
  padding-right: 1vw;
  margin-top: 0.6vw;
  color: #242424;
  font-weight: 600;
  background-color: #bababa;
  font-size: 0.95vw;
  border-radius: 3px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.inp_box {
  width: 100%;
  border: none;
  background: none;
}

.area_box {
  font-family: "Mukta", sans-serif;
  height: 11vw;
}

.btn_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 92%;
  width: 2.5vw;
  height: 2.5vw;
  text-align: center;
  font-size: 2vw;
  font-weight: 100 !important;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgb(131, 131, 131);
  cursor: pointer;
}

.material-icons.plus {
  font-size: 1.6vw;
}

.btn_submit:hover {
  box-shadow: none;
}

/* Progress */

.btn_reset {
  display: flex;
  margin-left: 13vw;
  cursor: pointer;
}

.progress {
  width: 22%;
}

.progress_data {
  background-color: #242f37;
  margin-top: 1vw;
  font-size: 1vw;
  padding: 0.8vw;
  padding-top: 1vw;
  border-radius: 3px;
  border: 1px solid #86898c;
}

.progress_cnt {
  margin-bottom: 0.5vw;
}

.user {
  display: flex;
  align-items: center;
  margin-left: 1vw;
}

.userinput {
  width: 8vw;
  background: none;
  font-size: 1vw;
  border: none;
  color: white;
  font-weight: 400;
}

.input_edit {
  width: 1vw;
  position: relative;
  top: 0.2vw;
  margin-right: 0.2vw;
  cursor: pointer;
}

/* Responsive-------------------------------------------------------------------------------------- */

@media (orientation: portrait) {
  .nav {
    height: 15vw;
  }

  .logo {
    width: 15vw;
    height: 15vw;
    background-size: 6vw;
  }

  .logo_name {
    font-size: 5vw;
    margin-left: 2vh;
  }

  .day_time {
    display: none;
    font-size: 3vw;
  }
  .time {
    color: white;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 1.5px;
    margin-right: 8vw;
    font-size: 3vw;
  }

  /* main body */

  .body_wrap {
    top: 22vw;
    padding-left: 6vw;
  }

  /* List name */

  .list_name {
    margin-bottom: 7vw;
    font-size: 6vw;
  }

  .list_edit {
    width: 3vw;
    margin-left: 2vw;
  }

  /* To do cards */

  .cards {
    flex-direction: column;
    font-size: 4vw;
  }

  .cards_toggle {
    font-size: 5vw;
  }

  .todo {
    width: 93%;
    margin-right: 5vw;
    font-weight: 500;
  }

  .todo_cnt {
    margin-top: 1vw;
    height: 70vw;
  }

  .todo_card {
    padding: 2vw;
    margin-bottom: 1.5vw;
    font-size: 4vw;
    height: 7vw;
  }

  .todo_card:hover {
    height: 20vw;
  }

  .todo_card_desc {
    margin-top: 2vw;
  }

  .todo_card_title {
    margin-left: 0.6vh;
    font-size: 4vw;
  }

  .btn_clear {
    background-color: white;
    color: #0c1821;
    padding-left: 2vw;
    padding-right: 2vw;
    top: 0.4vw;
    font-size: 3vw;
  }

  button,
  input[type="submit"],
  input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .check_btn {
    border: 2px solid #0c1821;
    height: 3vw;
    width: 3vw;
    font-size: 0.6vh;
  }

  .img_expand {
    right: 2vw;
    width: 5vw;
  }

  /* Compose */
  .compose {
    margin-top: 7vw;
    width: 92%;
  }

  .compose_title {
    padding: 1vw;
    padding-right: 2vw;
    margin-top: 2vw;
    font-size: 3vw;
  }

  .compose_desc {
    padding: 1.2vw;
    padding-right: 2vw;
    margin-top: 1.5vw;
    font-size: 3vw;
    font-family: "Mukta", sans-serif;
  }

  .btn_submit {
    background-color: white;
    position: relative;
    left: 74vw;
    bottom: 1vh;
    width: 9vw;
    height: 9vw;
    font-size: 6vw;
  }

  .material-icons.plus {
    font-size: 6vw;
  }

  .area_box {
    font-family: "Mukta", sans-serif;
    height: 16vw;
  }

  .btn_submit:hover {
    box-shadow: none;
  }

  /* Progress */

  .btn_reset {
    margin-left: 13vw;
  }

  .progress {
    display: none;
    width: 22%;
  }

  .user {
    margin-left: 1.5vw;
  }

  .userinput {
    width: 16vw;
    font-size: 3vw;
    font-weight: 400;
  }

  .input_edit {
    width: 4vw;
    top: 0.8vw;
    margin-right: 0.6vw;
  }
}
